<h2><%= @meme.name %></h2>
<ul>
  <li>Hipster Level: <%= @meme.hipster_level %></li>
  <li>Outdatedness: <%= @meme.outdated_ness %></li>
  <li>Glasses Worn When Discovered: <%= glasses_worn_when_discovered %></li>
</ul>
